<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Añdir Cliente</title>
</head>
<body>
<form action="" method="POST">
    {%csrf_token%}
    <fieldset>
        <legend>Añadir Cliente</legend>
        <label>Nombre: <input type="text" id="nombre" name="nombre"></label>
        <br>
        <label>Apellidos: <input type="text" id="apellidos" name="apellidos"></label>
        <br>
        <label>Dni: <input type="text" id="dni" name="dni"></label>
        <br>
        <label>Email: <input type="email" id="email" name="email"></label>
    </fieldset>
    <input type="submit" value="Añadir Cliente"/>
  </form>
</body>
</html>